body {
  /* Hide the scrollbar for all browsers except Firefox */
/* Note: Firefox supports the "-moz-scrollbar" pseudo-elements */
/* This method may not work in all situations */

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */


/* Hide the scrollbar for Webkit-based browsers (Chrome, Safari) */
/* Note: This method may not work in all situations */


  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Optional: Set the background to match your page */
}
