

#signupsection {
    border: 3px solid rgb(117, 113, 113);
    width: 35%;
    padding: 2%;
    margin: auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6); /* Use rgba() for opacity */
    margin-top: -6%;
    opacity: 0;
    transition: opacity 1s; /* Apply transition to the opacity property */
}

#signupsection.active {
    opacity: 1; /* Apply full opacity when the element has the active class */
}

#alerts{
    width: 50%;
    margin: auto;
    margin-top: -10%;
    margin-bottom: 6.25%;
}